<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }
        td {
            width: 100px;   /* 셀 너비 */
            height: 30px;   /* 셀 높이 */
        }
    </style>
</head>
<body>
    <h2>테이블 커스텀 해보기</h2>

    <table>
        <caption>커스텀 테이블</caption>
        <colgroup>
            <col>
            <col span="2" style="background-color: blue;">
            <col style="background-color: yellow">
        </colgroup>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>