<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>문제은행 [ 9 ] 풀이</h3>

    <form th:action="@{/30th/prob1}" method="post">
        <input type="submit" value="1번 문제">
    </form>

    <form th:action="@{/30th/prob2}" method="post">
        <input type="submit" value="2번 문제">
    </form>

    <form th:action="@{/30th/prob3tri}" method="post">
        <input type="submit" value="3번 문제(정삼각형)">
    </form>

    <form th:action="@{/30th/prob3rect}" method="post">
        <input type="submit" value="3번 문제(정사각형)">
    </form>

    <form th:action="@{/30th/prob3hexa}" method="post">
        <input type="submit" value="3번 문제(정육각형)">
    </form>
</body>
</html>