<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        이름: <input v-model="name">
        <button v-on:click="addMonster">몬스터 추가</button>

        <ul>
            <li v-for="(item, index) in list"
                    v-bind:key="item.id">
                ID: {{ item.id }} {{ item.name }} HP: {{ item.hp }}
                <button v-on:click="attackMonster(index)">공격</button>
                <!--
                <button v-on:click="removeMonster(index)">
                    몬스터 삭제
                </button>
                -->
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/js/vue/44th/rolePlayGame.js"></script>
</body>
</html>