<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/37th/cssElementSelectorTest3.css">
</head>
<body>
  <section id="container">
    <h1>가격 정보</h1>
    <p>+는 여기만 적용된다고 하네요 ?</p>
    <p>얼마인가요 ?</p>
    <ul>
      <li>결제 방법
        <ul>
          <li>카드</li>
          <li>계좌이체</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>A: 600,000원</li>
          <li>B: 400,000원</li>
          <li>C: 1,000,000원</li>
          <li>D: 770,000원</li>
        </ul>
      </li>
    </ul>

    <h1>케이스 테스트</h1>
    <p>요래</p>
    <p>요래</p>
  </section>
</body>
</html>