ul {
    list-style: none;
}
li {
    width: 120px;
    display: inline-block;
    margin: 10px;
}
li a {
    padding: 5px 20px;
    font-size: 14px;
    color: blue;
    text-decoration: none;
}
a[href] {
    /* href 만 찾아서 싹 다 노란색으로 바꿈 */
    background: yellow;
}