<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h3>Main</h3>

  <!-- 기본적으로 form 이라는 녀석은 GET 요청을 함 -->
  <form th:action="@{/29th/board/registerGet}">
    <input type="submit" value="register(GET)">
  </form>

  <!-- 그러므로 아래와 같이 POST는 별도 요청을 해야 한다. -->
  <form th:action="@{/29th/board/registerPost}" method="post">
    <input type="submit" value="register(POST)">
  </form>

  <!-- th:action은 Spring의 Controller URL과
       input type="submit"에 대한 부분을 연결시킨다.
       즉 버튼 누르면 해당 URL로 연결시킴을 의미한다. -->
  <form th:action="@{/29th/board/modifyGet}">
    <!-- 버튼의 내용물은 value에 배치됨 -->
    <input type="submit" value="modify(GET)">
  </form>

  <form th:action="@{/29th/board/modifyPost}" method="post">
    <input type="submit" value="modify(POST)">
  </form>

  <form th:action="@{/29th/board/removePost}" method="post">
    <input type="submit" value="remove(POST)">
  </form>
</body>
</html>