<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function() {
        var formObj = $("#board");

        $("#btnModify").on("click", function() {
            formObj.attr("action", "/32th/board/modify");
            formObj.attr("method", "post");
            formObj.submit();
        });

        $("#btnList").on("click", function() {
            self.location = "/32th/board/list";
        });
    });
</script>

<body>
    <h2>게시물 수정</h2>

    <form id="board" th:object="${board}" method="post">
        <input type="hidden" name="boardNo" th:field="*{boardNo}">

        <table>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" name="title" th:field="*{title}"/>
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="writer" th:field="*{writer}" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <td>본문</td>
                <td>
                    <input type="text" name="content" th:field="*{content}"/>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <button type="submit" id="btnModify">수정완료</button>
        <button type="submit" id="btnList">돌아가기</button>
    </div>
</body>
</html>