<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="/css/40th/prob11.css">
</head>
<body>
  <h3>문제은행 [ 11 ] 풀이</h3>

  <div id="pooh"></div>

  <form th:action="@{/40th/prob11/register}">
    <input type="submit" value="회원가입">
  </form>

  <form th:action="@{/40th/prob11/list}">
    <input type="submit" value="전체 회원 정보 열람">
  </form>

  <form th:action="@{/40th/prob11/login}">
    <input type="submit" value="로그인">
  </form>
</body>
</html>